<h1>歡迎使用抽獎應用程式</h1>

{{ if not .CurrentTenant }}
<div id="tenant-form">
    <h3>設定您的名稱/公司</h3>
    <form action="/set-tenant" method="post">
        <label for="tenant-name">請輸入名稱：</label>
        <input type="text" id="tenant-name" name="tenantName" required>
        <button type="submit">設定</button>
    </form>
    <p><small>您的所有資料（獎項、參與者）將會與此名稱和您的 IP 位址綁定，並在一小時無活動後自動清除。</small></p>
</div>
{{ else }}
<div>
    <p>歡迎回來, <strong>{{ .CurrentTenant }}</strong>! 您可以開始從上方導覽列設定獎項或參與者。</p>
</div>
{{ end }}

<hr>

<p>請從上方導覽列選擇一個項目開始。</p>

<hr>
<h3>範例檔案下載</h3>
<ul>
    <li><a href="/assets/example_prize.csv" download>下載獎項範例 (prizes.csv)</a></li>
    <li><a href="/assets/example_participants.csv" download>下載參與者範例 (participants.csv)</a></li>
</ul>
<hr>
<h3>基本使用說明</h3>
<p>由於測試 ai cli 的使用，另外也方便各位福委或是HR大大在即將到來的尾牙中省一點力。
所以就生產出這程式來，如有各種不盡人意的地方請多包涵。
目前只提供繁體中文版本..其他語言..請自已改...</p>

<p><strong>[重要]</strong> 程式不會存儲任何資料，抽獎結果只能生成csv下載保存!!</p>

<p>程式的主要功能就是提供抽獎功能，使用者只要填入或是上傳"獎項列表"及"參與者列表"就可以使用抽獎功能
並且在填入內容後會即時反應在頁面上方便檢查。包括抽獎的結果除了動畫音效的表現以外，也有即時中獎列表。</p>

<p>SourceCode: <a href="https://github.com/kabuke/lottery/tree/compile_version" target="_blank">https://github.com/kabuke/lottery/tree/compile_version</a></p>

<h4>使用流程如下:</h4>
<ol>
    <li>先登入 [使用者/公司名稱]，沒有登入無法使用其他功能</li>
    <li>登入後進行[獎項設定][參與者設定]，先設定好才能開始進行抽獎
        <ul>
            <li>[獎項設定]/[參與者設定]，皆可在首頁下面範例csv，依照裡面的內容修改就可以上傳了(請注意csv格式請勿隨意添加,逗號)</li>
            <li>獎項設定頁面(或是csv裡的最後一項)，從所有參與者中抽取 (包括已中獎者): 這個打勾的話就表示這項獎品是包括曾經中過其他獎項的人都可以一起抽取</li>
        </ul>
    </li>
    <li>以上都設定完以後進入[抽獎介面]進行抽獎，請先在 選擇獎項: 下拉式選擇單中 選擇此次要抽的獎項，選好再按下[抽獎]按鈕即可</li>
</ol>

<h4>超簡易快速使用流程:</h4>
<ol>
    <li>登入</li>
    <li>下載二份範例檔</li>
    <li>範例檔什麼都不改直接在設定頁面上各自上傳</li>
    <li>進行抽獎測試</li>
</ol>

<h4>使用情景A:</h4>
<ol>
    <li>下載設定檔並且設定好了</li>
    <li>登入後分別上傳設定好的csv到[獎項設定][參與者設定]裡。</li>
    <li>進行抽獎</li>
    <li>抽完獎以後核對下面的列表是否有沒有問題，沒有問題就下載抽獎結果的CSV檔保存</li>
</ol>

<h4>使用情景B:</h4>
<ol>
    <li>下載設定檔並且設定好了</li>
    <li>登入後分別上傳設定好的csv到[獎項設定][參與者設定]裡。</li>
    <li>進行抽獎</li>
    <li>抽完獎以後老板加碼安慰獎3份給未中獎的人抽，以後陽光普照獎5份給不管有沒有中過的人一起抽</li>
    <li>到[獎項設定]手動設定安慰獎及內容及數量3即可。</li>
    <li>到[獎項設定]手動設定陽光普照獎及內容及數量5以及要將[從所有參與者中抽取]打勾。</li>
    <li>再次進行加碼的獎項進行抽獎</li>
    <li>抽完獎以後核對下面的列表是否有沒有問題，沒有問題就下載抽獎結果的CSV檔保存</li>
</ol>